@tailwind base;
@tailwind components;
@tailwind utilities;

.font-[poppins] {
  font-family: poppins;
}

.social-dividers {
  position: relative;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #b6bece;
  line-height: 0.1em;
  margin: -20px 0 20px;
}

.social-dividers span {
  background: #fff;
  padding: 0 10px;
}

.form-input {
  padding: 15px 5px 15px 45px !important;
}

.headings {
  color: #fff;
}

/* .swiper {
  width: 100%;
  height: 100%;
  background-color: beige;
  margin-top: 5px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide p {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
